.program {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-bottom: 20px
}
.program .image {
    margin-right: 50px;
    border-radius: 50%;
}
.program .image img{
    border-radius: 50%;
    width: 150px;
    height: 150px
}
.program .details .time-room svg{
    color: #9e9c9c;
    margin-right: 5px
}
.program .details .time-room span {
    margin-right: 20px;
    color: var(--gray)
}
.program .details .title {
    font-size: 35px;
    font-weight: bold;
}
.program .details .author {
    color: var(--gray);
    margin-top: -20px
}
.program .details .description {
    color: var(--gray);
}